*~
._*
*-local.php
/.php_cs.cache
/.env
/composer.phar
/app/locales/*/*_untranslated.yml
/deployer/local.php
/var/*
!/var/.gitkeep
/vendor/
/bin/*
!/bin/console
/web/assets/vendor/*
/web/assets/uploads/*
!/web/assets/uploads/.gitkeep
