/****************************************************
 * Company: Corcosoft
 * Author: Borut Balazek <bobalazek124@gmail.com>
 * Verison: 1.0
 ****************************************************/

/***** Imports (fonts) *****/
/* Google Fonts and stuff */

/***** General *****/
a:focus,
a:hover {
	text-decoration: none;
}

/***** Navbar *****/
.navbar-brand {
	line-height: 26px;
	font-size: 22px;
}

.navbar-default .navbar-brand {
	padding: 9px;
}

.navbar-brand > img {
	float: left;
	margin-right: 5px;
}

.navbar-brand > div {
	padding: 3px 0;
}

/***** Sidebar *****/
#sidebar .nav > li > a {
	padding-top: 5px;
	padding-bottom: 5px;
}

/***** Footer *****/
#footer {
	font-size: 13px;
}

/* Object checkbox */
.object-checkbox-wrapper {
	display: inline-block; 
	margin-right: 5px;
}

.object-checkbox {
	position: relative; 
	top: 2px;
}
